* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  max-width: 1200px;
  margin-inline: auto;
}
header {
  padding-inline: 20px;
  background-color: hsl(0, 0%, 0%);
  color: black;

  & .navbar {
    padding-block: 20px;
    display: flex;
    justify-content: space-between;

    & a {
      color: hsl(0, 0%, 100%);
      text-decoration: none;
    }
    .cart {
      background-color: hsl(0, 0%, 100%);
      padding: 5px;
      border-radius: 3px;
      position: relative;

      & .cartAmount {
        font-size: 12px;
        background-color: hsl(0, 90%, 44%);
        padding: 5px;
        position: absolute;
        top: -15px;
        right: -18px;
      }
    }
  }
}
main {
  background-color: hsl(0, 0%, 50%);
  color: hsl(0, 0%, 0%);
  padding-inline: 20px;

  .shop {
    padding-block: 20px;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    .item {
        border: 1px solid white;
    }
  }
}
footer {
  background-color: hsl(0, 0%, 10%);
  color: white;
  padding-inline: 20px;
  padding-block: 20px;
  text-align: center;
}
