* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  max-width: 1200px;
  margin-inline: auto;
}
main {
  background-color: hsl(0, 0%, 90%);
  color: hsl(0, 0%, 0%);
  padding-inline: 20px;
}
/* header start */
header {
  padding-inline: 20px;
  background-color: hsl(0, 0%, 0%);
  color: black;

  & .navbar {
    padding-block: 20px;
    display: flex;
    justify-content: space-between;

    & a {
      color: hsl(0, 0%, 100%);
      text-decoration: none;
    }
    .cart {
      background-color: hsl(0, 0%, 100%);
      padding: 5px;
      border-radius: 3px;
      position: relative;

      & .cartAmount {
        font-size: 12px;
        background-color: hsl(0, 90%, 44%);
        padding: 5px;
        border-radius: 3px;
        position: absolute;
        top: -18px;
        right: -18px;
      }
    }
  }
}
/* Shop Start */
.shop {
  padding-block: 20px;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;

  & .item {
    background-color: hsl(0, 0%, 85%);
    border: 1px solid hsl(0, 0%, 85%);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    & .image-wrapper {
      width: 100%;
      height: 200px;
      & img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    & .product-derails {
      padding: 20px;
      display: flex;
      flex-direction: column;
      gap: 10px;

      & .price-quantity {
        display: flex;
        justify-content: space-between;
        align-items: center;

        & .product-buttons {
          display: flex;
          gap: 20px;

          & svg {
            cursor: pointer;
            background-color: white;
            border: 1px solid white;
          }
        }
      }
    }
  }
}
/* cart page Start */
.cart-header {
  text-align: center;
  padding-block: 20px;

  & h2 {
    margin-bottom: 10px;
  }

  & .cart-btns {
    .btn-checkout,
    .btn-clear-cart {
      background-color: red;
      color: white;
      font-size: 12px;
      font-weight: bold;
      text-transform: uppercase;
      padding: 10px 20px;
      border-radius: 5px;
      border: none;
      cursor: pointer;
    }
  }
}
/* Cart page */
.cart-items {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 10px;

  & .item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid red;

    & .image-wrapper {
        width: 50px;
        height: 50px;
    
        & img {
          display: block;
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    & .product-buttons {
      display: flex;
      gap: 10px;
    }
  }
}



footer {
  background-color: hsl(0, 0%, 10%);
  color: white;
  padding-inline: 20px;
  padding-block: 20px;
  text-align: center;
}
